*.o
*.log
*.trs
*.a
*.lo
*.la
autom4te.cache/
.deps/
.libs/
.dirstamp
Makefile
Makefile.in
config.status
*_test
libtool
/yans
/ethd
/libycl.la
/ping
/ycli
/fc2
freebsd/etc.rc.d/ethd
/clid
tools/yclgen/parser.c
tools/yclgen/parser.h
tools/yclgen/tokens.c
tools/yclgen/yclgen

